html {
  scroll-behavior: smooth;
}

/* Scrollbar */

/*width*/
::-webkit-scrollbar {
width:12px;
background:#edf0f4;
}

/*thumb*/
::-webkit-scrollbar-thumb {
background:#3776a0;
border-width:10px;
border-style:none;
border-radius:10px;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Background */
body {
  background-color: #ffffff !important;
  font-size: 1rem !important;
  font-family: 'Rubik',sans-serif;
  color: #5c5c5c !important;
}


/* topo */

header .navbar {
  color: var(--bs-white);
  background: linear-gradient(90deg, rgb(2 0 36 / 56%) 0%, rgb(4 132 196) 52%, rgb(21 47 78 / 0%) 100%), url(../images/logo_simbolo_bg.png) !important;
  background-position: right !important;
  box-shadow: rgb(136 165 191 / 35%) 0px 6px 9px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px !important;
  min-height: 8.3rem !important;
}


/* Form - (DataTable) */
form {
  padding: 1.3rem !important;
  border-radius: 0.5rem !important;
  margin-top: 2rem !important;
}


/* Botao paginacao Datatable */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #ffffff !important;
  background: #ababab2b !important;
}


/* Corpo de pagina interna */
.shadow {
  /* box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px !important; */
     box-shadow: rgba(50, 50, 105, 0.15) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 0px !important
}

.p-sm-2 {
  padding: 1.3rem !important;
  border-radius: 0.5rem !important;
  /* margin-top: 2rem !important; */
}


/* Footer */
footer {
  color: #5c5c5c !important;
  background-color: #ffffff !important;
  margin-bottom: 22px !important;
  border-top: solid 1px #e5e5e5 !important;
  padding-top: 1rem !important;
  margin-top: 2.5rem !important;
}


/* Link footer */
footer a {
  color: #0d6efd !important;
}

footer a:hover {
  color: #626262 !important;
}

.bi-list::before {
  font-weight: 600 !important;
}


/* Icone busca */
.btn-outline-primary {
  color: #ffffff !important;
  background: #92adbb !important;
  border: 0px !important;
}


/* Menu Hamburger */
.navbar-toggler {
  color: #497194 !important;
  background: #ffffffd6 !important;
  border: 0px !important;
  padding: 0.55rem 0.55rem !important;
  border-radius: 0.30rem !important;
}


/* Menu Hamburger Hover */
.navbar-toggler:hover, .navbar-toggler:active {
  background-color: rgb(255 255 255) !important;
  color: #0072ce !important;
  transition: 0.3s ease !important;
  -xpedu-transform: rotatez(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

#menuAcessibilidade {
  background-color: rgb(132 191 229 / 37%) !important;
  border-radius: 6px !important;
}

#menuAcessibilidade > *:hover, #menuAcessibilidade > *:focus {
  background: rgb(67 114 151) !important;
  border-radius: 6px !important;
}

#btnMenuIdiomas:hover, #btnAcessibilidade.opened, #btnAcessibilidade:hover {
  background: #437297 !important;
  border-radius: 6px !important;
}


/* Linha base Titulo */
.page-title {
  border-bottom: 0px solid #d3d3d3 !important;
}


/* Icone Acessebilidade */
#btnMenuIdiomas:hover, #btnAcessibilidade.opened, #btnAcessibilidade:hover {
  background: #4799dc4a !important;
  border-radius: 6px !important;
}


/* Tabela interna */
.rotulo {
  width: 300px !important;
  text-align: right !important;
  vertical-align: top !important;
  padding: 5px !important;
  padding-right: 10px !important;
  background-color: #f8f9fa !important;
  border-bottom: 1px solid #777777 !important;
  border-top: 1px solid #777777 !important;
  border-left: solid 1px !important;
  font-weight: 600 !important;
  color: #6c757d !important;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #fff !important;
}

.navbar-brand {
    color: #fff !important;
}

.conteudo {
  border: 1px solid #777777 !important;
}

table {
  width: 100% !important;
}

.conteudo p span {
  font-family: inherit !important;
}

table.dataTable.cell-border tbody tr:first-child th, table.dataTable.cell-border tbody tr:first-child td {
  border-top: 5px solid #e1e1e1 !important;
  padding-top: 23px !important;
}

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-right: 0px solid rgba(0, 0, 0, 0.15) !important;
  border-top: 1px solid rgb(0 0 0 / 8%) !important;
}

table.dataTable thead th, table.dataTable thead td {
  border-bottom: 0px solid rgba(0, 0, 0, 0.3) !important;
  padding: 10px 10px 18px 10px !important;

}
table.dataTable.cell-border tbody tr th:first-child, table.dataTable.cell-border tbody tr td:first-child {
  border-left: 0px solid rgba(0, 0, 0, 0.15) !important;
}

.dataTables_wrapper .dataTables_info {
  padding-top: 2.755em !important;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 2.20em;
}


/* Nome usuario */
.fst-italic {
  padding-top: 1rem !important;
  font-style: normal !important;
  background: #92adbb17 !important;
  padding: 1rem 1rem 1rem 1rem !important;
  border-radius: 0.5rem !important;
  margin-top: 1.5rem !important;
  width: 100% !important;
  text-align: end !important;
}

.fst-italic::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  font-size: 1.3rem !important;
  text-transform: none;
  line-height: 1 !important;
  vertical-align: -0.3em !important;
  margin-right: 5px !important;
  content: "\F4D2" !important;
  color: #3776a0 !important;
}

/* Menu Off Canvas */

header .navbar .offcanvas-body nav ul li {
  text-align: left !important;
  border-bottom: solid 1px #eee !important;
}

header .navbar .offcanvas-body nav ul li a.opened, header .navbar .offcanvas-body nav ul li a:hover {
  background-color: #f8f9fa !important;
}

/* Titulo página interna */

.h1, .h3, .h4, .h5, .h6, h1, h3, h4, h5, h6 {
  margin-bottom: 1rem !important;
}

/* Espaçamento do ícone com o título */
.page-title::before {
  margin-right: 15px !important;

}

.page-title {
 /* border-bottom: 7px solid #4e6f8f1a !important;
    border-radius: 20px !important;
    padding: 1rem !important; */

    border-radius: 10px !important;
    padding: 16px 10px !important;
    box-shadow: 10px 10px 0px #4e6f8f1a !important;
    margin-bottom: 1.8rem !important;
}

/* Cor de fundo botão primário */
.btn-primary {
  color: #fff !important;
  background-color: #39769f !important;
  border-color: #39769f !important;
}

.page-title::before {
  content: "\f133" !important;
  color: #3776a0 !important;
}

.bi-box-arrow-right::before {
  display: none !important;
}

fieldset {
  border: 1px solid #afafaf33 !important;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 0px 0px 0px var(--uerj-medium-gray-50) !important;
  margin-bottom: 3rem !important;	
}

.btn-secondary {
  color: #fff;
    background-color: #48a5d4 !important;
    border-color: #48a5d4 !important;
}

header .navbar .offcanvas-body nav ul ul {
  border-left: 0x solid var(--bs-gray) !important;
  border-bottom: 0px solid var(--bs-gray) !important;
}

.dropdown-item:hover, .dropdown-item:focus {

  background-color: #ffffff !important;
}

header .navbar .offcanvas-body nav ul li a.opened, header .navbar .offcanvas-body nav ul li a:hover {
  background-color: #ffffff !important;
}

.table-responsive {
    margin-top: 1rem !important;
    box-shadow: 10px 10px 0px #4e6f8f1a !important;
    border-radius: 10px !important;
    padding: 30px 20px !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    margin-bottom: 1.5rem;
    vertical-align: middle !important;
}

.dataTables_length {
    margin-bottom: 2rem;
}

table.dataTable tbody tr {
     border-width: 0px !important;
}

.table {
    --bs-table-striped-bg: rgb(255 255 255 / 5%) !important;
    vertical-align: middle !important;
    border-color: #ffffff !important;
}

.form-check-input:checked {
    background-color: #39769f !important;
    border-color: #39769f !important;
}

a {
    color: #39769f !important;
}

table.dataTable tbody th, table.dataTable tbody td {
     border-bottom: 1px solid #ebebeb !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
     --bs-table-bg-type: rgb(0 0 0 / 2%) !important;
}